@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding :0;
    box-sizing:border-box;
}
body{

    color:aliceblue;
}
header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:20px 10%;
    background-color:transparent;
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index:100;
}
.logo{
    font-size:23px;
    color:aliceblue;
    text-decoration:none;
    font-weight:600;
}
.navbar a{
font-size:15px;
text-decoration:none;
color:aliceblue;
font-weight:500;
margin-left:35px;
transition:.3s;
}

.navbar a:hover{
    color:#0083ee;
}
.navbar a.active{
    color:#0083ee;
}
.home{
    background:url('mine.png') no-repeat;
    background-size:cover;
    background-position:center;
    height:100vh;
    display:flex;
    align-items:center;
    padding: 0 10%;
}
.home-content{
    max-width:600px;
}
.home-content h2 {
    line-height:1.5;
    font-size :30px;
    font-weight:600;
}
.home-content h4 {
    line-height:1.9;
     font-size:20px;
     font-weight:700;
     color:#0083ee;
}
.home-content p {
    line-height:1.3;
    font-size:13px; 
}
.home-content .btn-box {
margin-top:20px;    
display:flex;
justify-content:space-between;
width:345px;
height:30px;
}
.btn-box a{
    position:relative;
    display:inline-flex;
    width:150px;
    height:100%;
    background-color: #0083ee;
    border:2px  solid #0083ee;
    border-radius:5px;
    font-size:15px;
    color:white;
    text-decoration: none;
    font-weight:600px;
    letter-spacing: 1px;
    justify-content:center;
    align-items:center;
    transition:.3s;
}
.home-imgHover{
 position:absolute;
 top:0;
 right:0;
 width:560px;
 height:100%;
 background:trasparent;
 transition:3s;

}
.home-imgHover:hover{
    background:#01101c;
    opacity: .8;

}
p{
    width:500px;
    text-align: justify;
}
.hire:hover{
background-color:aliceblue;
color:#0083ee;
}
.talks:hover{
    background-color:aliceblue;
    color:#0083ee;
    }